<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kakao Login</title>
</head>
<body>
    <h2>Kakao Login Example</h2>
    {% if logged_in %}
    <form action="/logout" method="get" onsubmit="trackActivity('logout', 'logout_button')">
        <button type="submit">Logout</button>
    </form>
    {% else %}
        <!-- "/oauth/getcode" 엔드포인트를 통해 카카오 로그인을 시작합니다. -->
        <a href="/getcode" onclick="trackActivity('login', 'login_button')">Login with Kakao</a>
    {% endif %}
    
    <script>
        // 사용자 활동을 백엔드로 전송하는 함수
        function trackActivity(activityType, buttonID) {
            fetch('/track-activity', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    activity: activityType,  // 'login' 또는 'logout' 활동
                    button_id: buttonID,  // 버튼 ID 전달
                    timestamp: new Date().toISOString()
                })
            })
            .then(response => response.json())
            .then(data => console.log('Activity tracked:', data))
            .catch(error => console.error('Error:', error));
        }

    </script>
</body>
</html>
